.message {
  margin-top: 30px;
  font-size: 35px;
}

.messageCenter {
  text-align: center;
}

.messageLeft {
  text-align: left;
}

.messageRight {
  text-align: right;
}

.newGame {
  display: block;
  margin: auto;
}
